<!DOCTYPE html>
<html>
<head>
    <title>SantuGPT Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="stylesheet" href="/static/script.js"> -->
</head>
<body class="dark-mode">
    <div class="theme-switcher">
        <button class="theme-button light" onclick="setTheme('light-mode')">Light</button>
        <button class="theme-button dark" onclick="setTheme('dark-mode')">Dark</button>
        <button class="theme-button hacker" onclick="setTheme('hacker-mode')">Hacker</button>
    </div>
    
    <div class="mode-switcher">
        <button class="mode-button normal active" data-mode="normal">Normal</button>
        <button class="mode-button friendly" data-mode="friendly">Friendly</button>
        <button class="mode-button funny" data-mode="funny">Funny</button>
    </div>

    <div id="chat-container">
        <div class="title-container">
            <h1>SantuGPT</h1>
            <img id="ai-avatar" src="https://i.ibb.co/zD1Qpvw/IMG-20250323-124434.jpg" alt="SantuGPT Avatar">
        </div>
        <div id="chat-log"></div>
        <div class="input-area">
            <input type="text" id="user-input" placeholder="Type your message...">
            <button onclick="sendMessage()">Send</button>
            <button id="clear-chat-button" onclick="clearChat()">Clear Chat</button>
        </div>
        <div class="try-out-questions" id="try-out-questions">
            <p>Try asking me:</p>
            <div id="question-links-container"></div>
        </div>
    </div>

    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    <script src="/static/script.js"></script>
</body>
</html>
